/* Section SideBar */

#sidebar {
    height: 100%;
    background-color: #918365 !important;
    color: #ffffff !important;
    position: fixed;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .nav-link.link-body-emphasis {
    color: #ffffff !important;
    margin-bottom: 15px;
  }
  
  .nav-link.link-body-emphasis:hover {
    background-color: #fff;
    color: #cc9552 !important;
    font-weight: bold;
  }
  
  .nav-link.active {
    background-color: #ffffff !important;
    color: #cc9552 !important;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .login-button {
    background-color: none !important;
    border: 1px solid #cc9552 !important;
    color: #cc9552 !important;
  }
  
  .login-button:hover {
    background-color: #cc9552 !important;
    border: 1px solid #cc9552 !important;
    color: #FFFFFF !important;
  }



  /* Partie responsive */
@media (max-width: 768px) {
    .sideBar {
      position: absolute;
      z-index: 1050; /* Pour apparaître au-dessus du contenu */
      top: 0;
      left: 0;
      height: 100%;
      transition: transform 0.3s ease-in-out;
    }
  
    .sideBar.collapsing {
      transform: translateX(-100%);
    }
  
    .sideBar.collapse:not(.show) {
      transform: translateX(-100%);
    }
  
   
  
    .autres {
      margin-left: 0 !important;
    }
  
    .hotel-image {
      height: 300px;
    }
    
  }
  